<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: headerFragment"></th:block>

    <title id="pageTitle">All Videos</title>

    <link rel="stylesheet" th:href="@{../web-file/css/all-video-style.css}">
    
</head>
<body>
    <div th:insert="~{fragments/nav :: nav-default}"></div>


    <div class="container-fluid mt-5">
        <div class="container">
            <div class="col-md-12">
            <div th:each="video: ${videos}">


            <div class="card center-block" style="width: 40rem;">
                <img class="card-img-top" th:src="@{../uploads/{video}(video=${video.getFrontImage()})}" alt="Card image cap">
                <div class="card-body">
                    <p th:text="${video.getDescribe()}"> content.</p>
                    <a th:href="@{/video/{id}(id=${video.getId()})}">Video</a>
                </div>
            </div>
            <br>
        </div>
            </div>
        </div>
    </div>
</body>
</html>